.header 
  .container 
    .row 
      .col-12 
        .header__main
          .header__logo
            a(href="/")
              img(src="/client/images/logo.png" alt="Logo")
          .header__menu
            ul.header__list
              li.header__item
                a(href="#" class="active")
                  | Home 
              li.header__item
                a(href="/")
                  | About 
              li.header__item
                a(href="/")
                  | Work Process 
              li.header__item
                a(href="/")
                  | Work Process 
              li.header__item
                a(href="/")
                  | Work Process 
          .header__icon-mobi
            i.fa-solid.fa-bars