@use "../abstracts/variables" as *;

html {
  overflow-x: hidden;
}

body {
  color: $color-text;
  line-height: 1.6;
  font-family: $font;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $color-text;

  &:hover {
    text-decoration: none;
  }
}