@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// Circle
$color-circle-one: #E8EDF5;
$color-circle-two: #FCE3E4;

// Button
$color-one: #FCE3E4;
$color-two: #273D8F;

// Text
$color-text: #273D8F;
$color-text2: #555;
$color-text3: #FDFDFD;

//Font
$font: "Raleway", sans-serif;

// Font size
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 50px;

// Font Weight
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;