.section-one 
    .container 
      .row 
        .col-12 
          .section-one__wrap 
            h1.section-one__title 
              | We provide the best strategy to grow up your business
            p.section-one__desc 
              | Softy Pinko is a professional Bootstrap 4.0 theme designed by Template Mo for your company
              | at absolutely free of charge
            a.button.button--two(href="#") DISCOVER MORE