.section-one {
  background-image: url(../../../images/banner-bg.png);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  &__wrap {
    text-align: center;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  &__title {
    color: #fff;
    margin-bottom: 10px;
  }

  &__desc {
    color: #fff;
  }
}