.button {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 45px;
  background: #fff;
  color: $color-text;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  border: none;
}